.cards  {
    background: url("../../../../storage/app/public/images/lines.png") no-repeat;
    max-width: 1920px;
    margin: 20px auto ;
    padding-bottom: 136px;
}

.cards__title {
    padding-top: 80px;
    font-size: 44px;
    font-weight: 500;
    font-family: "Roboto Flex", sans-serif;
}

.cards__title span {
    color: #0C93F4;
}

.cards__row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 36px;
}

.card {
    width: 496px;
    min-height: 216px;
    background: #fff;
    border-radius: 24px;
    border: 1px solid #C3E1FA;
    margin-top: 40px;
}

.card__content {
    display: flex;
}

.card__icon {
    margin-top: 40px;
    margin-left: 40px;
}

.card__title {
    margin-top: 40px;
    margin-left: 24px;
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    width: 280px;
    color: #0C93F4;
}

.destroy__icon {
    margin-top: 20px;
    margin-right: 20px;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background: #F5F9FE;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card__text {
    margin-top: 16px;
    margin-left: 40px;
    font-family: "Roboto Flex", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #5F6061;
    width: 416px;
}

.add__card {
    display: flex;
    justify-content: end;
    column-gap: 4px;
    margin-top: 32px;
    cursor: pointer;
}

.add__card span {
    font-family: "Roboto Flex", sans-serif;
    color: #0C93F4;
    font-size: 14px;
    font-weight: 500;
}

.error {
    color: #F40C44;
}
